<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>crearCriterio</servlet-name>
        <servlet-class>Servlet.crearCriterio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCriterio</servlet-name>
        <servlet-class>Servlet.eliminarCriterio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarCriterio</servlet-name>
        <servlet-class>Servlet.modificarCriterio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearCompetencia</servlet-name>
        <servlet-class>Servlet.crearCompetencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarCompetencia</servlet-name>
        <servlet-class>Servlet.eliminarCompetencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarCompetencia</servlet-name>
        <servlet-class>Servlet.modificarCompetencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>crearCriterio</servlet-name>
        <url-pattern>/criterios/crearCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCriterio</servlet-name>
        <url-pattern>/criterios/eliminarCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarCriterio</servlet-name>
        <url-pattern>/criterios/modificarCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearCompetencia</servlet-name>
        <url-pattern>/competencias/crearCompetencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarCompetencia</servlet-name>
        <url-pattern>/competencias/eliminarCompetencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarCompetencia</servlet-name>
        <url-pattern>/competencias/modificarCompetencia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
